UPDATE ChildModules SET RouteUrl = '/Recruitment/RecruitmentAgencies' WHERE ModuleName = 'Recruitment Agencies';
UPDATE ChildModules SET RouteUrl = '/Recruitment/RecruitmentProcesses' WHERE ModuleName = 'Recruitment Processes';
UPDATE ChildModules SET RouteUrl = '/Recruitment/InterviewTypes' WHERE ModuleName = 'Interview Types';
UPDATE ChildModules SET RouteUrl = '/Recruitment/Interviews' WHERE ModuleName = 'Interviews';
UPDATE ChildModules SET RouteUrl = '/Recruitment/BackgroundChecks' WHERE ModuleName = 'Background Checks';
UPDATE ChildModules SET RouteUrl = '/Contract/ContractTypes' WHERE ModuleName = 'Contract Types';
UPDATE ChildModules SET RouteUrl = '/Contract/VendorContracts' WHERE ModuleName = 'Vendor Contracts';
UPDATE ChildModules SET RouteUrl = '/Contract/EmployeeContracts' WHERE ModuleName = 'Employee Contracts';
UPDATE ChildModules SET RouteUrl = '/Contract/ContractTemplates' WHERE ModuleName = 'Contract Templates';
UPDATE ChildModules SET RouteUrl = '/Document/DocumentCategories' WHERE ModuleName = 'Document Categories';
UPDATE ChildModules SET RouteUrl = '/Document/DocumentTypes' WHERE ModuleName = 'Document Types';
UPDATE ChildModules SET RouteUrl = '/Document/HRDocuments' WHERE ModuleName = 'HR Documents';
UPDATE ChildModules SET RouteUrl = '/Document/Acknowledgments' WHERE ModuleName = 'Acknowledgments';
UPDATE ChildModules SET RouteUrl = '/Document/DocumentTemplates' WHERE ModuleName = 'Document Templates';
UPDATE ChildModules SET RouteUrl = '/Meeting/MeetingTypes' WHERE ModuleName = 'Meeting Types';
UPDATE ChildModules SET RouteUrl = '/Meeting/MeetingRooms' WHERE ModuleName = 'Meeting Rooms';
UPDATE ChildModules SET RouteUrl = '/Meeting/Meetings' WHERE ModuleName = 'Meetings';
UPDATE ChildModules SET RouteUrl = '/Meeting/MeetingAttendees' WHERE ModuleName = 'Meeting Attendees';
UPDATE ChildModules SET RouteUrl = '/Meeting/MeetingMinutes' WHERE ModuleName = 'Meeting Minutes';
UPDATE ChildModules SET RouteUrl = '/Meeting/ActionItems' WHERE ModuleName = 'Action Items';
UPDATE ChildModules SET RouteUrl = '/Leave/LeavePolicies' WHERE ModuleName = 'Leave Policies';
UPDATE ChildModules SET RouteUrl = '/Attendance/AttendancePolicies' WHERE ModuleName = 'Attendance Policies';
UPDATE ChildModules SET RouteUrl = '/Attendance/AttendanceRegularizations' WHERE ModuleName = 'Attendance Regularizations';
UPDATE ChildModules SET RouteUrl = '/TimeTracking/TimeEntries' WHERE ModuleName = 'Time Entries';
UPDATE ChildModules SET RouteUrl = '/LandingPage/LandingPage' WHERE ModuleName = 'Landing Page';
UPDATE ChildModules SET RouteUrl = '/LandingPage/CustomPages' WHERE ModuleName = 'Custom Pages';
UPDATE ChildModules SET RouteUrl = '/LandingPage/ContactInquiries' WHERE ModuleName = 'Contact Inquiries';
UPDATE ChildModules SET RouteUrl = '/LandingPage/Newsletter' WHERE ModuleName = 'Newsletter';
