UPDATE ChildModules SET RouteUrl = '/HR/Resignations' WHERE ModuleName = 'Resignations';
UPDATE ChildModules SET RouteUrl = '/HR/Terminations' WHERE ModuleName = 'Terminations';
UPDATE ChildModules SET RouteUrl = '/HR/Warnings' WHERE ModuleName = 'Warnings';
UPDATE ChildModules SET RouteUrl = '/HR/Trips' WHERE ModuleName = 'Trips';
UPDATE ChildModules SET RouteUrl = '/HR/Complaints' WHERE ModuleName = 'Complaints';
UPDATE ChildModules SET RouteUrl = '/HR/Transfers' WHERE ModuleName = 'Transfers';
UPDATE ChildModules SET RouteUrl = '/HR/Training' WHERE ModuleName = 'Training';

UPDATE ChildModules SET RouteUrl = '/Recruitment/JobCategories' WHERE ModuleName = 'Job Categories';
UPDATE ChildModules SET RouteUrl = '/Recruitment/JobTypes' WHERE ModuleName = 'Job Types';
UPDATE ChildModules SET RouteUrl = '/Recruitment/JobLocations' WHERE ModuleName = 'Job Locations';
UPDATE ChildModules SET RouteUrl = '/Recruitment/CustomQuestions' WHERE ModuleName = 'Custom Questions';
UPDATE ChildModules SET RouteUrl = '/Recruitment/CandidateSources' WHERE ModuleName = 'Candidate Sources';
UPDATE ChildModules SET RouteUrl = '/Recruitment/InterviewRounds' WHERE ModuleName = 'Interview Rounds';
UPDATE ChildModules SET RouteUrl = '/Recruitment/InterviewFeedback' WHERE ModuleName = 'Interview Feedback';
UPDATE ChildModules SET RouteUrl = '/Recruitment/CandidateAssessments' WHERE ModuleName = 'Candidate Assessments';
UPDATE ChildModules SET RouteUrl = '/Recruitment/OfferTemplates' WHERE ModuleName = 'Offer Templates';
UPDATE ChildModules SET RouteUrl = '/Recruitment/Offers' WHERE ModuleName = 'Offers';
UPDATE ChildModules SET RouteUrl = '/Recruitment/OnboardingChecklists' WHERE ModuleName = 'Onboarding Checklists';
UPDATE ChildModules SET RouteUrl = '/Recruitment/ChecklistItems' WHERE ModuleName = 'Checklist Items';
UPDATE ChildModules SET RouteUrl = '/Recruitment/CandidateOnboarding' WHERE ModuleName = 'Candidate Onboarding';
UPDATE ChildModules SET RouteUrl = '/Recruitment/Career' WHERE ModuleName = 'Career';

UPDATE SubChildModules SET RouteUrl = '/Performance/IndicatorCategories' WHERE ModuleName = 'Indicator Categories';
UPDATE SubChildModules SET RouteUrl = '/Performance/Indicators' WHERE ModuleName = 'Indicators';
UPDATE SubChildModules SET RouteUrl = '/Performance/GoalTypes' WHERE ModuleName = 'Goal Types';
UPDATE SubChildModules SET RouteUrl = '/Performance/EmployeeGoals' WHERE ModuleName = 'Employee Goals';
UPDATE SubChildModules SET RouteUrl = '/Performance/ReviewCycles' WHERE ModuleName = 'Review Cycles';
UPDATE SubChildModules SET RouteUrl = '/Performance/EmployeeReviews' WHERE ModuleName = 'Employee Reviews';

UPDATE SubChildModules SET RouteUrl = '/AssetManagement/AssetTypes' WHERE ModuleName = 'Asset Types';
UPDATE SubChildModules SET RouteUrl = '/AssetManagement/Assets' WHERE ModuleName = 'Assets';
UPDATE SubChildModules SET RouteUrl = '/AssetManagement/Dashboard' WHERE ModuleName = 'Dashboard';
UPDATE SubChildModules SET RouteUrl = '/AssetManagement/Depreciation' WHERE ModuleName = 'Depreciation';

UPDATE SubChildModules SET RouteUrl = '/Training/TrainingTypes' WHERE ModuleName = 'Training Types';
UPDATE SubChildModules SET RouteUrl = '/Training/TrainingPrograms' WHERE ModuleName = 'Training Programs';
UPDATE SubChildModules SET RouteUrl = '/Training/TrainingSessions' WHERE ModuleName = 'Training Sessions';
UPDATE SubChildModules SET RouteUrl = '/Training/EmployeeTrainings' WHERE ModuleName = 'Employee Trainings';
