@{
    ViewBag.Title = "ReviewCycles";
}

<div class="container-fluid">
    <div class="row justify-content-center py-5">
        <div class="col-xxl-5 col-xl-7 text-center">
            <h3 class="fw-bold">@ViewBag.Title</h3>
            <p class="text-muted">This module is currently under development.</p>
        </div>
    </div>
</div>
